/* fonts */
@font-face {
    font-family: "Title";
    src: url(/KGRedHands.ttf);
}

/* variables */
:root {
    --black-color: #212529;
    --image-color: #FF9F1C;
    --button-color: #2EC4B6;


}

/* global styling */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html {
    scroll-behavior: smooth;
}

/* header section including the media queries */
header {
    background-color: #FBFCFA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
    padding: 20px 30px;
    /* position: sticky;
    top: 20px; */
    width: 100%;
    user-select: none;
    -webkit-user-select: none;

}

.logo>img {
    height: auto;
    margin-left: 3rem;
    width: 120px;
}

.nav-links {
    display: flex;
    font-weight: 500;
    margin-right: 6rem;
    text-decoration: none;
}

ul li {
    list-style: none;
    margin: 0 60px;
}

ul li a {
    color: var(--black-color);
    text-decoration: none;
}

.btn-1 {
    background-color: var(--button-color);
    border: none;
    border-radius: 18px;
    color: white;
    cursor: pointer;
    font-size: 14px;
    margin-right: 4rem;
    padding: 8px 20px;
    transition: ease-out all .2s;
}

.btn-1:hover {
    /* color: #fff;
    background-color: #1A1A1A; */
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.btn-1:active {
    box-shadow: none;
    transform: translateY(0);
}

/* tablet view potrait */
@media only screen and (min-width:480px) and (max-width:834px) {
    header {
        justify-content: space-between;
    }

    .nav-links {
        font-size: 14px;
    }

    .logo>img {
        margin-left: 0;
        /* margin-right: 2rem; */
        position: relative;
        right: 1rem;
    }

    ul li {
        list-style: none;
        margin: 0 45px;
        position: relative;
        left: .5rem;
    }

    /* .btn-1 {
        margin-right: 10rem;
    } */


}

@media only screen and (max-width:480px) {
    .logo>img {
        display: none;
    }

    .btn-1 {
        display: none;
    }

    .nav-links {
        font-size: 14px;
        /* position: relative;
        right: 3rem; */
    }

    header {
        display: block;
        text-align: center;
        height: 6rem;

        /* justify-content: space-between; */

    }

    ul li {
        margin: 0 30px;
        display: inline-block;

    }


}

/* end of header including media queries */
/* start of hero section including media queries */
@media only screen and (min-width:1024px) {

    .main-image>img {
        width: 527px;
        height: auto;
        position: relative;
        left: 116px;


    }

    section.hero {
        margin-top: 3rem;
        display: flex;
        justify-content: space-between;

    }

    .text-area {
        width: 455px;
        height: 303px;
        position: relative;
        top: 10rem;
    }

    .text-area>* {
        padding: .7rem 0;

    }

    .text-area h1 {
        font-family: "Title";
        font-weight: 400;
        font-size: 2.5rem;
        width: 350px;
        line-height: 1.5;
        letter-spacing: 0.04rem;
    }

    .text-area p {
        font-family: 'Comic Sans MS';
        font-size: .8rem;
        font-weight: 100;
        width: 300px;
        line-height: 2;
        letter-spacing: 0.04em;
    }

}

.btn-2 {
    margin-top: 2rem;
    width: min-content;
    background-color: var(--button-color);
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding: 10px 50px;

    /* gap: 10px; */
    transition: ease-out all .2s;
}

.btn-2:hover {
    /* color: #fff;
    background-color: #1A1A1A; */
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.btn-2:active {
    box-shadow: none;
    transform: translateY(0);
}
